form {
  .header {
    font-size: 2rem;
    font-weight: bold;
  }
  .input {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin: $padding 0;
    label {
      font-size: 1.2rem;
      font-weight: 500;
    }

    input[type='text'],
    input[type='password'] {
      border: 0.1rem solid $input-border;
      height: 2.5rem;
      border-radius: $form-radius;
      padding: 0 $padding;
    }
  }

  .errors {
    display: flex;
    font-size: 0.8rem;
    color: crimson;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background: $button-bg;
    color: $button-color;
    border: 0.1rem solid $button-border;
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      background: $button-bg-hover;
      color: $button-color-hover;
      border: 0.1rem solid $button-border-hover;
    }
  }
}
