.main {
  padding: 1rem;

  .home,
  .profile,
  .user-create,
  .users {
    transition: margin $time ease-in-out;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.3)
    );
    min-height: calc(100vh - ($appbar-size + 2rem));
    padding: $padding;
    border-radius: $radius;
    margin-left: calc($sidebar-icon-size);
  }

  &.show {
    .home,
    .profile,
    .user-create,
    .users {
      margin-left: calc($sidebar-size);
    }
  }
}
