.main {
  padding: 1rem;

  .home,
  .profile,
  .user-create,
  .users {
    transition: margin $time ease-in-out;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.8)
    );
    min-height: calc(100vh - ($appbar-size + 2rem));
    padding: 1rem;
    border-radius: $radius;
    margin-left: calc($sidebar-icon-size);
    margin-top: $appbar-size;
  }

  &.show {
    .home,
    .profile,
    .user-create,
    .users {
      margin-left: calc($sidebar-size);
    }
  }
}
