.modal {
  background: #fff;
  width: 80vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 0.5rem;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
  min-height: 200px;
  transition: transform 0.4s ease-in-out;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  z-index: 10;
  max-height: 95vh;

  &.show {
    transform: translate(-50%, -50%) scale(1);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 0 auto;
    }

    .material-icons {
      border-radius: 50%;
      background: none;
      border: none;
      font-size: 1.2rem;
      height: 2rem;
      width: 2rem;
      &:hover {
        background: whitesmoke;
      }
    }
  }

  .content {
    padding: 1rem;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    margin: 0.5rem 0;
    overflow: auto;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    button {
      display: flex;
      align-items: center;
      background: none;
      height: 2.5rem;
      padding: 0 1rem;
      border: 1px solid $button-border;
      gap: 0.2rem;
      background: $button-bg;
      color: $button-color;
      .text {
        text-transform: uppercase;
        font-weight: bold;
      }
      .material-icons {
        font-size: 1.2rem;
      }
      &:hover {
        background: $button-bg-hover;
        color: $button-color-hover;
        border-color: $button-border-hover;
      }
    }
  }
}
