.profile {
  .line {
    .title {
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }
  }
  .rules {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .rule {
      text-transform: uppercase;
      .name {
        font-weight: bold;
        margin-left: 1rem;
        display: flex;
        margin-bottom: 0.3rem;
      }
      .permissions {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .permission {
          display: flex;
          align-items: center;
          gap: 0.2rem;
          .material-icons {
            color: teal;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
