.sidebar {
  z-index: 2;
  background: $sidebar-primary;
  display: flex;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: $sidebar-icon-size;
  transition: width $time ease-in-out;
  overflow: none;

  button,
  a {
    border: none;
    background: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    .material-icons {
      display: flex;
      height: $sidebar-icon-size;
      width: $sidebar-icon-size;
      align-items: center;
      justify-content: center;
      font-size: calc($sidebar-icon-size - 1rem);
    }
  }

  .menu {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 100%;
    position: relative;

    .arrow {
      background: $appbar-primary;
      transition: background-color $time ease-in-out;

      button {
        color: $appbar-color;
        &:hover {
          color: $appbar-light;
        }
      }
    }

    .item {
      position: relative;

      button,
      a {
        color: $sidebar-color;
        width: 100%;

        &:hover {
          background: $primary;
          color: $sidebar-light;
        }

        &:focus {
          background: $primary;
          color: $sidebar-light;

          & + ul {
            transition: all $time ease-in-out;
            transform: translate($sidebar-icon-size, 0) scale(1);
            opacity: 1;
          }
        }
      }
    }

    .submenu {
      display: flex;
      position: absolute;
      background: $submenu-primary;
      width: $submenu-size;
      flex-direction: column;
      left: 0;
      opacity: 1;
      top: 0;
      transition: all $time ease-in-out 100ms;
      transform: translate($sidebar-icon-size, 0) scale(0);
      transform-origin: top left;
      z-index: 1;

      .subitem {
        width: 100%;
        display: flex;

        a {
          width: 100%;
          color: $submenu-color;
          padding: $padding;

          &:hover {
            color: $submenu-light;
            background: $primary;
          }
        }
      }
    }
  }

  &.show {
    width: $sidebar-size;
    animation: slidein $time;
    overflow: hidden;

    .arrow {
      background: $sidebar-primary;

      button {
        color: $sidebar-dark;
        transform: translateX(calc($sidebar-size - $sidebar-icon-size));
      }
    }
    .item {
      .submenu {
        transform-origin: top center;
        z-index: 3;
        transform: translate(0, $sidebar-icon-size) scale(0);
      }

      button,
      a {
        position: relative;

        &::after {
          content: attr(title);
          position: absolute;
          min-width: $sidebar-size;
          display: flex;
          padding-left: $sidebar-icon-size;
        }

        &:focus {
          & + ul {
            transform: translate(0, $sidebar-icon-size) scale(1);
          }
        }
      }
    }
  }
}
