.users {
  .table-users {
    overflow: auto;
    width: 100%;
    padding: 0.5rem;
    .header,
    .content .line {
      display: grid;
      grid-template-columns: 50px 200px 150px 1fr 120px 50px 70px;
      min-width: 900px;
      padding: 0.2rem 0.2rem;
      border-bottom: 1px solid #999;
      align-items: center;
    }
    .header {
      background: $primary;
      color: whitesmoke;
      font-weight: bold;
      font-size: 1rem;
    }
    .content {
      position: relative;
      min-width: 800px;
      font-size: 0.9rem;
      .line {
        &:hover {
          background: $primary-color;
        }
        .role {
          text-transform: uppercase;
          font-size: 0.8rem;
          font-style: italic;
        }
        .col {
          display: flex;
          button {
            background: none;
            padding: 0;
            border: none;
            cursor: pointer;
            color: $dark;
            margin: 0 0.1rem;
            &:disabled {
              color: $light;
            }
            &:hover {
              color: $light;
            }
            .material-icons {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
