//
// Global
//
$primary: #263238;
$light: #4f5b62;
$dark: #000a12;
$time: 0.3s;

$font-size: 1rem;
$padding: 0.5rem;
$radius: 0.5rem;

//
// APPBAR
//
$appbar-size: 3rem;
$appbar-primary: $primary;
$appbar-light: $light;
$appbar-dark: $dark;
$appbar-color: #eceff1;

//
// SIDEBAR
//
$sidebar-size: 13rem;
$sidebar-primary: #90a4ae;
$sidebar-light: #c1d5e0;
$sidebar-dark: #62757f;
$sidebar-icon-size: 3rem;
$sidebar-color: $dark;

//
// SUBMENU
//
$submenu-primary: #eceff1;
$submenu-dark: #babdbe;
$submenu-light: #fff;
$submenu-color: $dark;
$submenu-size: 13rem;
